<h2><%= director.name %></h2>
<a href="/directors/<%= director.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/directors/${director.id}`}) %> <%
if (moviesByDirector.length > 0) { %>
<h2>Movies By Director</h2>
<% moviesByDirector.forEach(movie => { %>
<img height="150" width="100" src="<%= movie.coverImagePath %>" />
<% }) %> <% } %>
