<h2>Edit Movie</h2>
<form action="/movies/<%= movie.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/movies/<%= movie.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>
